body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

.page-header,
.page-footer {
    background-color: rgb(101, 46, 8);
    color: #c3c3c3;
    padding: 0;
    /*border: 1px solid red;*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    /*margin-bottom: 125px;*/
}

.header-top {
    /*margin-bottom: 125px;*/
    vertical-align: middle;
    /* border: 1px solid green;*/
    margin: 0;
}

.page-header {
    background: url("img/wheat-back.jpg") no-repeat center;
    background-size: cover;
    width: 1280px;
    padding-top: 35px;
    height: 525px;
}

.header-logo {
    float: left;
    width: 142px;
    height: 80px;
    /*border: 1px solid yellow;*/
}

.header-logo img {
    width: 142px;
    height: 80px;
}

.main-nav {
    float: left;
    width: 700px;
    list-style: none;
    vertical-align: middle;
    border-top: solid 1px #a98f55;
    border-bottom: solid 1px #a98f55;
    padding: 25px 0;
    margin: 0 0 0 60px;
    /* border: 1px solid yellow;*/
}


.main-nav li {
    text-transform: uppercase;
    float: left;
    margin-right: 58px;
}

.main-nav ul:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #fafafa;
    text-decoration: none;
}

.main-nav a:hover {
    color: #e7b86c;
}

.main-nav a:active {
    color: #7b6035;
}

.promo {
    font-family: "Arial", SansSerif, serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    padding-top: 135px;
    text-align: center;
}

.container {
    width: 1020px;
    margin: 0 auto;
    /* border: 1px solid blue;*/
}
